

.box{
	width: 7%;
	height: 7vw;
	background:#fff;
	margin: 0.5%;
	display: inline;
}
.fill-box {
	width: 10%;
	height: 8.2vw;
	background:#fff;
	display: inline;
	padding: 0px;
	border: 1em solid white;
}

.back-image {
	background-image: url(../images/page6-mona.jpg);
	max-width: 100%;
	height: auto;
}

.see-through {
	opacity: 0.3;
}


.centeralign {
	text-align: center;
}
