@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

@media (min-width: 526px) {body {font-size: 18px;} }
@media (min-width: 768px) {body {font-size: 24px;} }
@media (min-width: 992px) {body {font-size: 32px;} }
@media (min-width: 1200px) {body {font-size: 39px;} }

body.desktop-body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	background-color:#f8f8f8;
	margin:0px;
	padding:0px;
}