@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 70px; /* it clears:both for navbar*/
}

/* navbar starts */
.navbar-header, .navbar-collapse{
	background-color: #000 !important;
}

#myNavbar {
	background-size:cover;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4vh 5vh 4vh 0;
	float: right;
}

.navbar-toggle {
	float: left;
	margin-left: 2vh;
}

.navbar-brand:hover {
	text-decoration: underline;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 5%;
}

ul.nav a:hover {
	text-decoration: underline;
}
 /*navbar ends*/

img {
	margin-top: 4vh;
	width: 92%;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.txt {
	margin-top: 2vh;
	font-size: 1.4em;
}

#email {
	width: 80%;
	margin: auto;
	margin-top: 2vh;
}

#password {
	width: 80%;
	margin: auto;
	margin-top: 2vh;
}

.btns {
	width: 80%;
	height: 10vh;
	margin: 2vh;
	box-shadow: 3px 3px 5px #808080;
	background-color: #27CCC0;	
}