@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 70px; /* it clears:both for navbar*/
}

/* navbar starts */
.navbar {
	background-color: #000 !important;
}

.navbar-header, .navbar-collapse{
	background-color: #000 !important;
}

#myNavbar {
	background-size:cover;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4vh 5vh 6vh 4vh;
	float: right;
}

.navbar-toggle {
	float: left;
	margin-left: 2vh;
}

.navbar-brand:hover {
	text-decoration: underline;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 6vh;
	margin-top: 1.5vh;
}

ul.nav a:hover {
	text-decoration: underline;
}
 /*navbar ends*/

.response {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
form>input {
	margin-top: 3vh;
	padding-left: 2vh;
	width: 70%;
}

h4 {
	text-align: left;
	margin-left: 5% ;
	margin-bottom: -2vh;
	font-weight: bold;
}

select {
	margin-top: 3vh;
}

#sign_up_btn, #sign_up {
	font-size: 1.5em;
	width: 80%;
	height: 10vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
}

#text_area{
	margin-top: 10vh;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#check{
	margin-top: 1vh;
}
