@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/* pre-define all font-size at beginning */
/*@media (min-width: 240px)  { body {font-size: 12px;} }
@media (min-width: 288px)  { body {font-size: 14px;} }
@media (min-width: 336px)  { body {font-size: 16px;} }
@media (min-width: 384px)  { body {font-size: 18px;} }
@media (min-width: 432px)  { body {font-size: 20px;} }
@media (min-width: 480px)  { body {font-size: 22px;} }
@media (min-width: 528px)  { body {font-size: 24px;} }
@media (min-width: 576px)  { body {font-size: 26px;} }
@media (min-width: 624px)  { body {font-size: 28px;} }
@media (min-width: 672px)  { body {font-size: 30px;} }
@media (min-width: 720px)  { body {font-size: 32px;} }
@media (min-width: 768px)  { body {font-size: 34px;} } */


* {
	margin: 0;
	padding: 0;
}
body {
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	
	padding: 70px 25px 25px 25px;

}


/* navbar starts */
.navbar {
	background-color: #000 !important;
}

.navbar-header, .navbar-collapse{
	background-color: #000 !important;
}

#myNavbar {
	background-size:cover;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4vh 5vh 6vh 4vh;
	float: right;
}

.navbar-toggle {
	float: left;
	margin-left: 2vh;
}

.navbar-brand:hover {
	text-decoration: underline;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 6vh;
	margin-top: 1.5vh;
}

ul.nav a:hover {
	text-decoration: underline;
}
 /*navbar ends*/


#artwork_search{
	margin-top: 5vh;
}

#artwork_name {
	text-transform: uppercase;

}

#winner-text {
	font-weight: 600;
	font-size: 1.3em;
}

#pic {
	margin: auto;
	width: 80%;
	height: 30%;
	border: 1px solid #B6B6B4;
}

#curr_bid {
	margin-top: 1vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#next_bid {
	margin-top: 2vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#check_bid, #bid_now {
	font-size: 1.5em;
	width: 93%;
	margin-right: auto;
	margin-left: auto;
	height: 10vh;
	margin: 2vh;
	box-shadow: 1px 1px 2px #808080;
	background-color: #27CCC0;
}