body {
	margin: 0;
	padding: 0;
	text-align: center;
}

nav{
  height: 15vh;
}

.navbar-header{
  margin-top: 10px;
  background: #fff;
}

.navbar-brand:hover {
	border-bottom: 3px solid #f0e68c;
}

.collapse {
	background-color: #fff;
}

input {
	margin-top: 25vh;
}	