@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
margin: 0;
padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5vh;
  padding-top: 70px; /* it clears:both for navbar*/
}

/* navbar starts */

.navbar-header, .navbar-collapse{
	background-color: #000 !important;
}

#myNavbar {
	background-size:cover;
}

.navbar-brand {
	font-size: 1.4em;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 4vh 5vh 4vh 0;
	float: right;
}

.navbar-toggle {
	float: left;
	margin-left: 2vh;
}

.navbar-brand:hover {
	text-decoration: underline;
}

.nav a {
  	font-size: 1.4em;
	color: #fff !important;
	text-align: center;
	padding-top: 5%;
}

ul.nav a:hover {
	text-decoration: underline;
}
 /*navbar ends*/

#artwork-search{
	margin-top: 5vh;
}

#check_bid {
	margin-top: 3vh;
	box-shadow: 3px 3px 5px #808080;
	height: 11vh;
	background-color: #27CCC0;
}

#winner-text {
	font-weight: 600;
	font-size: 1.3em;
}

#mona {
	margin: auto;
	width: 60%;
	height: 25%;
}

#curr_bid {
	margin-top: 1vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#next_bid {
	margin-top: 2vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#bid_now {
	margin: 3vh 0;
	box-shadow: 3px 3px 5px #808080;
	height: 11vh;
	background-color: #27CCC0;
}