@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
margin: 0;
padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5vh;
}

#bar_holder {
	height: 10vh;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#bars {
	font-size: 2.8em;
	margin-left: 2vh;
	margin-top: 1vh;
}

#artwork-search{
	margin-top: 5vh;
}

#check_bid {
	margin-top: 3vh;
	box-shadow: 3px 3px 5px #808080;
	height: 7vh;
}

#winner-text {
	font-weight: 600;
	font-size: 1.3em;
}

#mona {
	margin: auto;
	width: 60%;
	height: 25%;
}

#curr_bid {
	margin-top: 1vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#next_bid {
	margin-top: 2vh;
	margin-bottom: -1px;
	font-weight: bold;
}

#bid_now {
	margin: 3vh 0;
	box-shadow: 3px 3px 5px #808080;
	height: 7vh;
}