@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

#text_area{
	width: 80%;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000;
	border-radius: 5px;
	overflow-y: scroll;
	overflow-x: hidden;

}
#check{
	margin-top: 5vh;
}

#sign_up {
	width: 45%;
	height: 11vh;
	margin-top: 5vh;
	border: 2px solid #000;
	box-shadow: 4px 4px #000;
	background: #fff;
}