@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
margin: 0;
padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 6%;
}

#bar_holder {
	height: 8vh;
	width: 108%;
	margin-left: -4%;
}

#bars {
	font-size: 2.3em;
	margin-left: 2vh;
	margin-top: 1vh;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-size:1.8em;
	text-decoration: underline;
}

h5{
	font-weight: bold;
	font-size: 1.3em;
}

#first_heading {
	border: 1px solid #5C5858;
	border-radius: 8px;
	background: #428bca;
	color: #fff;
	font-size: 1.2em;
}

.box {
	border: 1px solid #5C5858;
	border-radius: 8px;
}

img {
	margin: 3vh;
}

h6 {
	padding: 3%;
	margin-top: 9vh;
	margin-left: 1vh;
	background: #fff;
	color: #428bca;
	font-weight: bold;
	font-size: 1.3em;

}

#blue_box {
	background: #428bca;
}

.blue_box_text {
	color: #fff;
	background: #428bca;
}

span {
	float: right;
	font-size: 1.8em;
	margin-top: -2vh;
}

#second_heading {
	border: 1px solid #5C5858;
	border-radius: 8px;
	background: #428bca;
	color: #fff;
	font-size: 1.2em;
	margin-top: 5vh;
}

.box2 {
	margin-bottom: 4vh;
	border: 1px solid #5C5858;
	border-radius: 8px;
}


