@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
}

input {
	margin-top: 3vh;
	padding-left: 2vh;
}

h4 {
	text-align: left;
	margin-left: 5% ;
	margin-bottom: -2vh;
	font-weight: bold;
}

select {
	margin-top: 3vh;
}

#sign_up_btn {
	width: 45%;
	height: 10vh;
	margin: 3vh;
	box-shadow: 3px 3px 5px #808080;	
}