@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

input {
	border: 2px solid #000;
	width: 75%;
	margin-top: 3vh;
	padding-left: 1vh;
}

::-webkit-input-placeholder {
	color: #000;
}

h5 {
	text-align: left;
	margin-left: 5% ;
	margin-bottom: -2vh;
	font-weight: 600;
}

select {
	margin-top: 3vh;
	width: 75%;
	border: 2px solid #000;
}

#sign_up {
	width: 40%;
	height: 9vh;
	margin-top: 3vh;
	border: 2px solid #000;
	box-shadow: 4px 4px #000;
	background: #fff;
}